body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(256deg, #5E2AB2 2.64%, #161E6C 140.46%);
}
.shadow-custom{
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.25);

}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
@tailwind base;
@tailwind components;
@tailwind utilities;
