body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(256deg, #5E2AB2 2.64%, #161E6C 140.46%);
}
.shadow-custom{
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.25);

}
@tailwind base;
@tailwind components;
@tailwind utilities;
